.loading-banner,
.warning-banner {
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background-color: var(--light-blue);
  box-sizing: border-box;
}

.warning-banner {
  background-color: var(--off-orange);
}

.loading-banner .content,
.warning-banner .content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loading-banner .content .text,
.warning-banner .content .text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.loading-banner .content .text .title,
.warning-banner .content .text .title {
  font-size: 16px;
  font-weight: 600;
}

.loading-banner .content .text .subtitle,
.warning-banner .content .text .subtitle {
  font-size: 14px;
}

.loading-banner .loading-spinner,
.warning-banner .loading-spinner {
  display: flex;
  margin: 0 auto;
  border: 4px solid transparent;
  border-top: 4px solid var(--blue);
  border-radius: 50%;
  width: 41px;
  height: 41px;
  animation: spin 2s linear infinite;
  position: relative;
}

.warning-banner .loading-spinner {
  border-top: 4px solid #f0ab00;
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.button-wrapper span {
  font-size: 14px;
}

.button-wrapper .alt-search {
  background-color: #f0ab00;
  padding: 8px 16px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: #fff !important;
  text-decoration: none !important;
  font-size: 14px;
}

.button-wrapper .contact-us {
  background-color: transparent;
  padding: 8px 16px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: #f0ab00 !important;
  text-decoration: none !important;
  border: 1px solid #f0ab00;
  font-size: 14px;
}

@media (max-width: 425px) {
  .button-wrapper {
    flex-direction: column;
  }

  .button-wrapper .alt-search {
    order: 1;
  }

  .button-wrapper .contact-us {
    order: 3;
  }

  .button-wrapper span {
    order: 2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
