body {
  --light-blue: rgba(0, 147, 208, 0.051);
  --blue: #0093d0;
  --off-blue: #f1f7fb;
  --off-black: rgba(0, 0, 0, 0.651);
  --highlight-blue: #66d1ff;
  --off-orange: rgba(240, 171, 0, 0.051);
  --light-gray: rgba(0, 0, 0, 0.0588);
  --dark-gray: rgba(0, 0, 0, 0.851);
  --orange: #e84f0e;
  --green: #52c41a;
  --off-green: #b7eb8f;
}

.offers-incentive {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.offers-incentive h2 {
  margin: 0;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
}

.offers-incentive .offers-wrapper {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

@media (max-width: 910px) {
  .offers-incentive .offers-wrapper {
    display: flex;
    flex-direction: column;
  }
}
